.app-main-container {
	padding: 10px
}

.item-done {
	text-decoration: line-through;
	font-style: italic;
}

.actions-buttons {
	button {
		margin: 2px;
	}
	a {
		padding-right: 12px;
	}
}

.loader-loading {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
