html {
	height: 100%
}

body {
	background: linear-gradient(0deg, #a5c0db, #ffffff) no-repeat;
}

.app-main-container {
	padding: 10px
}

.item-done {
	text-decoration: line-through;
	font-style: italic;
}

.actions-buttons {
	button {
		margin: 2px;
	}
}